body {
    font-family: 'Verdana';
    color: #fff;
    background: #000;
    font-size: 21px;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {font-size: 50px;}

h2{
    font-weight: 300;
    font-size: 42px;
}

.gray {color: gray; }

#tents {
    width: 75%;
    height: auto;
}

#copy {text-align: right;}